.content-section {
    word-spacing: 0.3rem;
    text-align: justify;
    direction: rtl;
    background-color: #0074ca;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}