.content-section {
    word-spacing: 0.3rem;
    text-align: center;
    direction: rtl;
    background-color: #0074ca;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
    padding: 0;
    margin: 0;
}
a {
    color: #fff; /* White links */
    text-decoration: underline;
  }

  a:hover {
    color: #ddd; /* Lighter color on hover */
    text-decoration: none;
  }