.bg-image {
    height: 550px;
    object-fit: cover;
    width: 100%;
}

.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0072caa7;
    color: white;
    padding: 1rem 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.expertise {
    padding: 0;
    margin: 0;
    background-color: #0074ca;
}

.expertise-text {
    direction: rtl;
    color: white;
    text-align: justify;
}

#services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* Allows items to wrap onto the next line */
    overflow-wrap: anywhere;
    /* Ensures content wraps inside elements */
}

#services-container>* {
    flex: 1 1 200px;
    /* Ensures items can grow and shrink, with a base width of 200px */
    margin: 10px;
    /* Optional: Adds spacing between items */
}

/* Optional media query for even smaller screens to make it more responsive */
@media (max-width: 768px) {
    #services-container {
        flex-direction: column;
        /* Stack items in a column on smaller screens */
    }

    #services-container>* {
        flex: 1 1 100%;
        /* Ensure each item takes up full width on smaller screens */
    }
}