* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
}

.services-container {
    margin-top: 4rem;
    text-align: justify;
}

.services-container .box2 {
    padding: 1rem;
    text-align: center;
    color: #7AB2D3;
    font-size: 5vw;
}

.services-container .container {
    padding: 2rem;
    background-color: #7AB2D3;
    height: fit-content;
    margin-bottom: 20px;

}

.services-container .container .card {
    margin: 10px;
    padding: 0;
    height: 250px;
    width: 30vw;
    background-color: transparent;
    border: none;
   
  
}
.services-container .container .card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services-container .container .logo{
    height: 250px;
    
}
.services-container .container .logo img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-x: inherit;
}

.services-container p {

    margin: 20px;
    padding: 0;
    direction: rtl;
    line-height: 1.5;
    font-size: 20px;
}

.slide-section {

    padding: 30px;
    margin: 0;
    background-color: #7AB2D3;
}

.slide-section .card {
    height: 250px;
    background-color: transparent;
   border: none;
}


.slide-section .card img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 3px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}