* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-optical-sizing: auto;
}

.services-container {
    margin-top: 4rem;
    text-align: justify;
}

.services-container .box2 {
    padding: 1rem;
    text-align: center;
    color: #7AB2D3;
    font-size: 5vw;
}

.services-container .container {
    padding: 20px;
    background-color: #7AB2D3;
    height: fit-content;
    margin-bottom: 20px;

}


.services-container .container .logo{
    height: 250px;
}
.services-container .container .logo img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow-x: inherit;
}

.services-container p {

    margin: 20px;
    padding: 0;
    direction: rtl;
    line-height: 1.5;
    font-size: 20px;
    word-spacing: 1.3;
}

#services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    background-color: #7AB2D3;
    align-items: center;
    justify-content: center;
    
}

#services-container>* {
    flex: 1 1 200px;
}


@media (max-width: 768px) {
    #services-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #services-container img {
        max-width: 200px;
        min-height: 200px;
       
    }

    #services-container>* {
        flex: 1 1 100%;
    }

   
}